@{
  Layout = "Shared/_Layout.cshtml";
  var venues = Model["venues"];
  var bands = Model["bands"];
}
@if (venues.Count == 0)
{
  <p>No shows have been booked yet.</p>
}
else{
  <h2> Shows: </h2>
  <ul>
  @foreach (var venue in venues)
  {
    <li><h3>@venue.GetName() has shown:</h3>
    <ul>
    @foreach(var band in @venue.GetBands())
    {
      <li>@band.GetName()</li>
    }
    </ul>
    </li>
  }
  </ul>
}

<br>
<p><a href="/shows/new">Book a show</a></p>
<p><a href="/">Return home</a></p>
