@{
  Layout = "Shared/_Layout.cshtml";
}
<h3>@Model["venue"].GetName()</h3><br>

<h4>has hosted: </h4><br>

    @foreach(var band in @Model["bands"])
    {
      <li>@band.GetName()</li>
    }
    <h5><a href="/shows/new">Add new band to venue</a></h5>
    <h5><a href="/venues/new">Add new venue</a></h5>
    <h5><a href="/">Return home</a></h5><br>
